.main {
    @extend %margin-buttom-lg;
}

.site-search,
.user-login,
.site-news {
    margin-bottom: $gap * 2;
}

.user-login__tabs {
    position: absolute;
    right: 15px;
    border: none;
}

.new-films,
.top-week {

    &-title {
        margin-top: -5px;

        @include text-shortener;
    }

    &-row {
        margin-left: -$gap / 2;
        margin-right: -$gap / 2;
    }

    &-item {
        padding-left: $gap / 2;
        padding-right: $gap / 2;

        margin-bottom: $gap;

        &:hover {
            .top-week-item,
            .new-films-item {
                color: $color-accent;
            }

            .top-week-item__title,
            .new-films-item__title {
                color: $color-light;
            }
        }

        &__img {
            width: 100%;
        }

        &__thumbnail {
            margin-bottom: 0;
        }
    }
}


.film-news-item {

    &__text {
        text-align: justify;
    }

    &__image {
        width: 100%;
    }

    &__button {
        float: right;

        margin-bottom: ($gap * 2);

        transition: background-color .25s;
    }

    &__thumbnail {
        margin-bottom: 0;
    }

    &:hover {
        .thumbnail
        {
            background-color: lighten($color-accent, 15%);
        }

        h3 > a
        {
            color: $color-accent;
        }

        .btn-warning
        {
            background-color: $color-accent;
        }
    }

    h3 > a {
        transition: color .25s;
    }
}